@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Recipe Information</h2>

<hr>

<h4>Recipe:</h4>
<p><strong>@Html.DisplayNameFor(model => model.Name): </strong>@Html.DisplayFor(model => model.Name)</p>
<p><strong>Ingredients: </strong><br>@Html.DisplayFor(model => model.Ingredients)</p>
<p><strong>Instructions: </strong><br>@Html.DisplayFor(model => model.Instructions)</p>

@if (Model.JoinEntities.Count == 0)
{
  <p>This recipe doesnt have any tags.</p>
}
else
{
  <p><strong>Tags:</strong></p>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{join.Tag.Name}", "Details", "Tags", new { id = join.Tag.TagId})</li>
      @using (Html.BeginForm("DeleteTag", "Recipes"))
      {
        @Html.Hidden("joinId", @join.RecipeTagId)
        <input type="submit" value="Delete" class="btn btn-danger btn-sm"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId})</p>
<p>@Html.ActionLink("Add tag", "AddTag", new { id = Model.RecipeId})</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId})</p>