@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Edit tag</h2>

<p>Edit @Html.DisplayFor(model => model.Name):</p>

@using (@Html.BeginForm())
{
  @Html.HiddenFor(model => model.TagId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { required="required"})

  <input type="submit" value="Save" class="btn btn-success" />
}